/* Global CSS-Document for razor components */

.component-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 1rem;
}

.offcanvas-button-link {
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 20px;
}

.topPageHeader {
}

@media (min-width: 641px) {
    .topPageHeader {
        font-size: 2.25rem;
        top: 5px;
        position: sticky;
        z-index: 10;
        max-width: 250px;
    }
}
