/* Global CSS-Document for razor components */

.component-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 1rem;
    position: relative;
    /*transition: all 0.3s ease;*/ /* Smooth transition for grid reflow */
}

.component-card-grid > div:first-child,
.component-card-grid > div:last-child {
    grid-column: 1/-1; /* Span the entire grid without creating empty spaces */
    /* visibility: hidden; */ /* Keep them invisible but functional */
    height: auto; /* Retain the height set by Virtualize */
}

    /*.component-card-grid > * {*/
        /*transition: transform 0.3s ease, opacity 0.3s ease;*/  /*Smooth transition for position and opacity changes */
        /*will-change: transform, opacity;*/  /*Hint the browser for better animation performance */
    /*}*/

/* Keyframe animation for a smooth "appear" effect */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.87); /*was 0.95 and 0.9 maybe change to max 0.8 */
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

/*.component-card-grid > *:enter {
    animation: fadeIn 0.15s ease-out;
}*/

/*.component-card-grid > *:leave {
    animation: fadeOut 0.3s ease;
}*/

.animated-card {
    animation: fadeIn 0.155s ease; /*Maybe change to max 0.175*/
    will-change: transform, opacity;
    /*transition: transform 0.3s ease, opacity 0.3s ease;*/
}

.offcanvas-button-link {
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 20px;
}

.topPageHeader {
}

@media (min-width: 641px) {
    .topPageHeader {
        font-size: 2.25rem;
        top: 5px;
        position: sticky;
        z-index: 1200;
        max-width: 250px;
    }
}

.offcanvas-backdrop {
    z-index: 1400 !important;
}

.btn-scroll-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 12px;
    /*display: none;*/
    /*align-items: center;
    justify-content: center;*/
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    /*transition: all 0.3s ease-in-out;*/
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out, opacity 0.25s ease-in-out, visibility 0.25s ease-in-out;
    opacity: 0; /* Initially invisible */
    visibility: hidden; /* Prevents clicking when hidden */
    backdrop-filter: blur(8px);
}

.btn-scroll-top.show {
    opacity: 1;
    visibility: visible;
}

@media (max-width: 640.98px) {
    .btn-scroll-top {
        visibility: visible;
        opacity: 1;
    }
}