@page "/notes/create"

<TopPageHeader>New Note</TopPageHeader>
<section class="transform-stack-container">
    <div class="border-top animated-top-line" style="width: 100%; max-width: 50%; margin-top: 15px"></div>

    <div class="container animated-page-content">
        <NoteForm OnSave="HandleSave" FormType="FormType.Create" />
    </div>
</section>

<script>
    window.scrollTo({ top: 0, behavior: 'auto' });
</script>

@code {
    [Inject] private INoteRepository _noteRepository { get; set; }

    [Inject] protected ToastService ToastService { get; set; } = default!;

    [Inject] private NavigationManager Navigation { get; set; }

    [Inject] private IJSRuntime JSRuntime { get; set; }


    private async Task HandleSave(Note note)
    {
        try
        {
            await _noteRepository.AddAsync(note);
            ToastService.Notify(new ToastMessage(ToastType.Success, $"Note created and saved successfully."));
            await JSRuntime.InvokeVoidAsync("window.history.back");
        }
        catch (Exception e)
        {
            ToastService.Notify(new ToastMessage(ToastType.Danger, $"Note could not be saved."));
        }
    }
}