@page "/educations"

<TopPageHeader>Educations</TopPageHeader>

<div class="row py-3 mx-0">
    <!--had classes: bd-navbar sticky-top-->
    <div class="col-10 col-md-10 px-0 mb-3" style="max-width: 400px">
        <b>Search:</b>
        <InputText class="form-control" placeholder="Search for Education" @bind-Value="_searchValue"/>
    </div>
    <!--Add edit and detail button later-->
    <div class="col-2 col-md-1 mb-3 mt-4">
        <Button Color="ButtonColor.Primary" class="px-2" style="height: 38px; padding-top: 3px;">
            @* <i class="bi bi-plus-circle" style="font-size: 20px"></i> *@
            <Icon Name="IconName.Search" Size="IconSize.x5"/>
        </Button>
    </div>
    @* <div class="col-12 col-lg-5 text-end ms-auto mb-3 mt-4">

    </div> *@
</div>
<div class="container align-content-center">
    <div class="education-grid py-4">
        @foreach (Education education in _educations)
        {
            <EducationCard Education="@education"/>
        }
    </div>
</div>

@code {
    [Inject] private IEducationRepository _educationRepository { get; set; }

    private string _searchValue = String.Empty;

    private List<Education> _educations = new();

    protected override async Task OnInitializedAsync()
    {
        await LoadEducations();
    }

    private async Task LoadEducations()
    {
        _educations = await _educationRepository.GetAllAsync();
    }

}