@page "/faq"

<TopPageHeader>FAQ</TopPageHeader>

<div style="margin-top: 50px;"></div>

<div style="max-width: 1000px;">
    <Accordion>
        <AccordionItem Title="What is the ' - 4' at the end of each Subject Name? For Example: 'Math - 4'">
            <Content>
                The ' - 4' is the Semester in which the Subject is based. This is made to more easily identify each Subject, because there can be many of the same Subjects for different Semesters. For Example 'Math - 1', 'Math - 2' and so on.
            </Content>
        </AccordionItem>
        <AccordionItem Title="What Grading-System is the App based on?">
            <Content>
                GradeMaster is based and made for the Swiss Grading-System.
            </Content>
        </AccordionItem>
        <AccordionItem Title="How do I write the Institution of the Education so it is displayed correctly?">
            <Content>
                In order to be displayed right the Institution must be written like this: "TI, Test Institution" First the Abbreviation followed by the fullname.
            </Content>
        </AccordionItem>
        <AccordionItem Title="Where is my data saved?">
            <Content>
                GradeMaster saves all data created by the user locally on your computer.
            </Content>
        </AccordionItem>
        <AccordionItem Title="Is GradeMaster free?">
            <Content>
                This version of GradeMaster is as of this moment free to use. This might change later.
            </Content>
        </AccordionItem>
        <AccordionItem Title="Does GradeMaster update automatically?">
            <Content>
                No, GradeMaster does not update automatically, as of this moment.
            </Content>
        </AccordionItem>
        <AccordionItem Title="Where can I get info to GradeMaster?">
            <Content>
                You can go to the official repository: <a href="https://github.com/DevT06/GradeMaster" target="_blank">https://github.com/DevT06/GradeMaster</a>
            </Content>
        </AccordionItem>
        <AccordionItem Title="Is there a dark mode for the App?">
            <Content>
                There is no dark mode for GradeMaster as of this moment.
            </Content>
        </AccordionItem>
    </Accordion>
</div>

@code {

}