@page "/info"

<TopPageHeader>Info</TopPageHeader>

<div style="margin-top: 50px;"></div>

<p>
    <strong>Grade Master</strong> is a grade management tool that helps you manage your education, subjects, and grades.
    <br /><br />
    <strong>Official Repository:</strong>
    <a class="btn-link" href="https://github.com/DevT06/GradeMaster" target="_blank">GitHub - DevT06/GradeMaster</a>
    <br /><br />
    <strong>Version Information:</strong>
    <br />
    - <strong>Installed Version:</strong> 1.0.0
    <br />
    - <strong>Latest Available Version:</strong>
    <a href="https://github.com/DevT06/GradeMaster/releases" target="_blank">
        <img src="https://img.shields.io/github/v/release/devt06/GradeMaster" alt="Release Version Badge">
    </a>
    <br />
    - <strong>Client Version:</strong> GradeMaster.DesktopClient - 1.0.0.0
</p>

<div style="margin-top: 50px;"></div>

<img src="images/logo.png" alt="GradeMaster Logo" style="max-width: 200px;"/>
<h4 style="font-size: 26px;">Grade Master</h4>

@code {

}
