@page "/settings"

<TopPageHeader>Settings</TopPageHeader>
<br/>

<h3>Settings</h3>
<h5 style="margin-left: 20px;">Personalization</h5>
<div style="margin-left: 30px;">
    <label>Theme: </label>
    <ThemeSwitcher />
</div>

<br/>

<h3>About this Application</h3>
<p>This application is a grade management tool. It allows you to manage your educations, subjects and grades. <br/>
    Version: GradeMaster.DesktopClient - 1.0.0.0</p>
<NavLink class="btn btn-translucient border-dark-subtle" href="info" Match="NavLinkMatch.Prefix">
    <Icon Name="IconName.InfoCircle" /> Info
</NavLink>

<NavLink style="margin-left: 10px;" class="btn btn-translucient border-dark-subtle" href="licenses" Match="NavLinkMatch.Prefix">
    <Icon Name="IconName.FileEarmarkText" /> Licenses
</NavLink>

<div style="margin-bottom: 40px;"></div>

<h3>Help</h3>
<p>If you have any questions or need help, refer to the page below.</p>
<NavLink class="btn btn-translucient border-dark-subtle" href="faq" Match="NavLinkMatch.Prefix">
    <Icon Name="IconName.FileEarmarkText" /> FAQ
</NavLink>

<div style="margin-bottom: 100px;"></div>

@* <div class="border-top" style="width: 100%;"></div> *@

@code {

}
