@page "/settings"

<TopPageHeader>Settings</TopPageHeader>
<br/>

<h3>Settings</h3>
<p>Settings are not available yet.</p>
<br/>

<h3>About this Application</h3>
<p>This application is a grade management tool. It allows you to manage your educations, subjects and grades.</p>
<p>Version: GradeMaster.DesktopClient - 1.0.0.0</p>
<NavLink class="btn btn-light" href="info" Match="NavLinkMatch.Prefix">
    Info
</NavLink>

@code {

}
