@page "/subjects/create"

@using Microsoft.AspNetCore.WebUtilities;

<TopPageHeader>New Subject</TopPageHeader>
<section class="transform-stack-container">
    <div class="border-top animated-top-line" style="width: 100%; max-width: 50%; margin-top: 15px"></div>

    <div class="container animated-page-content">
        <SubjectForm OnSave="HandleSave" FormType="FormType.Create" SubjectSemester="_subjectSemester" EducationId="_educationId"/>
    </div>
</section>

<script>
    window.scrollTo({ top: 0, behavior: 'auto' });
</script>

@code {
    private int? _educationId;

    private int? _subjectSemester;

    [Inject] private ISubjectRepository _subjectRepository { get; set; }

    [Inject] protected ToastService ToastService { get; set; } = default!;

    [Inject] private NavigationManager Navigation { get; set; }

    [Inject] private IJSRuntime JSRuntime { get; set; }


    protected override void OnInitialized()
    {
        var uri = new Uri(Navigation.Uri);
        var queryParams = QueryHelpers.ParseQuery(uri.Query);
        if (queryParams.TryGetValue("educationId", out var educationIdString) && int.TryParse(educationIdString, out var educationId))
        {
            _educationId = educationId;

            if (queryParams.TryGetValue("subjectSemester", out var subjectSemesterString) && int.TryParse(subjectSemesterString, out var subjectSemester))
            {
                _subjectSemester = subjectSemester;
            }
        }
    }

    private async Task HandleSave(Subject subject)
    {
        try
        {
            await _subjectRepository.AddAsync(subject);
            ToastService.Notify(new ToastMessage(ToastType.Success, $"Subject created and saved successfully."));
            await JSRuntime.InvokeVoidAsync("window.history.back");
        }
        catch (Exception e)
        {
            ToastService.Notify(new ToastMessage(ToastType.Danger, $"Subject could not be saved."));
        }
    }
}