@page "/subjects/{Id:int}/edit"

<TopPageHeader>Edit Subject</TopPageHeader>
<section class="transform-stack-container">
    <div class="border-top animated-top-line" style="width: 100%; max-width: 50%; margin-top: 15px"></div>

    <div class="container animated-page-content">
        <SubjectForm Subject="_subject" OnSave="HandleSave" FormType="FormType.Edit" />
    </div>
</section>

<script>
    window.scrollTo({ top: 0, behavior: 'auto' });
</script>

@code {
    [Parameter] public int Id { get; set; }

    [Inject] private ISubjectRepository _subjectRepository { get; set; }

    [Inject] protected ToastService ToastService { get; set; } = default!;

    // [Inject] private NavigationManager Navigation { get; set; }

    [Inject] private IJSRuntime JSRuntime { get; set; }

    private Subject _subject = new();

    protected override async Task OnInitializedAsync()
    {
        _subject = await _subjectRepository.GetByIdAsync(Id);
    }

    private async Task HandleSave(Subject subject)
    {
        try
        {
            await _subjectRepository.UpdateAsync(subject.Id, subject);
            ToastService.Notify(new ToastMessage(ToastType.Success, $"Subject updated and saved successfully."));
            await JSRuntime.InvokeVoidAsync("window.history.back");
        }
        catch (Exception e)
        {
            ToastService.Notify(new ToastMessage(ToastType.Danger, $"Subject could not be saved."));
        }
    }
}