@page "/educations/create"

<TopPageHeader>New Education</TopPageHeader>
<div class="border-top animated-top-line" style="width: 100%; max-width: 50%; margin-top: 15px"></div>

<div class="container animated-page-content">
    <EducationForm OnSave="HandleSave" FormType="FormType.Create"/>
</div>

<script>
    window.scrollTo({ top: 0, behavior: 'auto' });
</script>

@code {
    [Inject] private IEducationRepository _educationRepository { get; set; }

    [Inject] protected ToastService ToastService { get; set; } = default!;

    // [Inject] private NavigationManager Navigation { get; set; }

    [Inject] private IJSRuntime JSRuntime { get; set; }


    private async Task HandleSave(Education education)
    {
        try
        {
            await _educationRepository.AddAsync(education);
            ToastService.Notify(new ToastMessage(ToastType.Success, $"Education created and saved successfully."));
            await JSRuntime.InvokeVoidAsync("window.history.back");
        }
        catch (Exception e)
        {
            ToastService.Notify(new ToastMessage(ToastType.Danger, $"Education could not be saved."));
        }
    }
}