@inject IJSRuntime JSRuntime

<Button Id="scrollToTopButton" @onclick="ScrollToTop" Class="btn-scroll-top btn-translucient-v2 border-dark-subtle">
    <Icon Name="IconName.ArrowUpCircle" Size="IconSize.x4"/>
</Button>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("initializeScrollButton");
        }
    }


    private async Task ScrollToTop()
    {
        await JSRuntime.InvokeVoidAsync("scrollToTop");
    }
}