@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            @* <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">Options</a> *@
            <Button Color="ButtonColor.Link" Style="padding-right: 3px; padding-left: 3px; z-index: 100" @onclick="OnShowOffcanvasClick">Options</Button>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<Offcanvas @ref="offcanvas"
           title="Options">

</Offcanvas>

@code {
     private Offcanvas offcanvas = default!;

     private async Task OnShowOffcanvasClick() => await offcanvas.ShowAsync();

     private async Task OnHideOffcanvasClick() => await offcanvas.HideAsync();
}
