@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            @* <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">Options</a> *@
            <Button Color="ButtonColor.Link" Style="padding-right: 3px; padding-left: 3px;" @onclick="OnShowOffcanvasClick">Options</Button>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<Offcanvas @ref="offcanvas"
           title="Options">
    <BodyTemplate>
        <NavLink class="btn btn-light offcanvas-button-link border-dark-subtle" style="margin-top: 0" href="about" @onclick="OnHideOffcanvasClick"><Icon Name="IconName.InfoCircle" /> About</NavLink>
        @* <div class="border-top" style="width: 100%;"></div> *@
        <NavLink class="btn btn-light offcanvas-button-link border-dark-subtle" href="faq" @onclick="OnHideOffcanvasClick"><Icon Name="IconName.QuestionCircle" /> FAQ</NavLink>
        @* <div class="border-top" style="width: 100%;"></div> *@
        <NavLink class="btn btn-light offcanvas-button-link border-dark-subtle" href="licenses" @onclick="OnHideOffcanvasClick"><Icon Name="IconName.FileEarmarkText" /> Licences</NavLink>
    </BodyTemplate>
    <FooterTemplate>
        <NavLink class="btn btn-light offcanvas-button-link" style="margin-bottom: 0" href="settings" @onclick="OnHideOffcanvasClick"><Icon Name="IconName.Gear" /> Settings</NavLink>
    </FooterTemplate>
</Offcanvas>

<Toasts class="p-3" Placement="ToastsPlacement.TopRight" StackLength="2" AutoHide="true" />

@code {
     private Offcanvas offcanvas = default!;

     private async Task OnShowOffcanvasClick() => await offcanvas.ShowAsync();

     private async Task OnHideOffcanvasClick() => await offcanvas.HideAsync();
}
