<div class="top-row navbar navbar-dark" style="padding-left: 0 !important">
    <div class="container-fluid" style="display: block; padding-left: 0.5rem">
        <a class="navbar-brand" href="" style="margin-left: 0">
            <Icon Name="IconName.Mortarboard" Size="IconSize.x5" Style="margin-left: 10px; margin-right: 10px"></Icon> GradeMaster
        </a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler"/>

<div class="nav-scrollable" onclick="toggleNav()">
    <nav class="flex-column">
        <div class="nav-item px-2">
            <NavLink class="nav-link" href="/?" Match="NavLinkMatch.Prefix">
                <Icon Name="IconName.HouseDoor" Size="IconSize.x5" Style="margin-left: 10px; margin-right: 10px"/> Home
            </NavLink>
        </div>
        <div class="nav-item px-2">
            <NavLink class="nav-link" href="educations" Match="NavLinkMatch.Prefix">
                <Icon Name="IconName.Journals" Size="IconSize.x5" Style="margin-left: 10px; margin-right: 10px"/> Educations
            </NavLink>
        </div>
        <div class="nav-item px-2">
            <NavLink class="nav-link" href="subjects" Match="NavLinkMatch.Prefix">
                <Icon Name="IconName.Collection" Size="IconSize.x5" Style="margin-left: 10px; margin-right: 10px"/> Subjects
            </NavLink>
        </div>
        <div class="nav-item px-2">
            <NavLink class="nav-link" href="grades" Match="NavLinkMatch.Prefix">
                <Icon Name="IconName.Bookmarks" Size="IconSize.x5" Style="margin-left: 10px; margin-right: 10px"/> Grades
            </NavLink>
        </div>
        @* <div class="nav-item px-2">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-2">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div> *@
        <div class="last">
            <div class="nav-item  px-2">
                <NavLink class="nav-link" href="settings">
                    <Icon Name="IconName.Gear" Size="IconSize.x5" Style="margin-left: 10px; margin-right: 10px"/> Settings
                </NavLink>
            </div>
        </div>
    </nav>
</div>

<script>
    function toggleNav() {
        if (window.innerWidth < 641) {
            document.querySelector('.navbar-toggler').click();
        }
    }
</script>

@code {
    [Inject] private NavigationManager Navigation { get; set; }
}