@page "/grades/create"
@using Microsoft.AspNetCore.WebUtilities

<TopPageHeader>New Grade</TopPageHeader>
<div class="border-top animated-top-line" style="width: 100%; max-width: 50%; margin-top: 15px"></div>

<div class="container animated-page-content">
    <GradeForm OnSave="HandleSave" FormType="FormType.Create" SubjectId="_subjectId" EducationId="_educationId" />
</div>

<script>
    window.scrollTo({ top: 0, behavior: 'auto' });
</script>

@code {
    private int? _subjectId;

    private int? _educationId;


    [Inject] private IGradeRepository _gradeRepository { get; set; }

    [Inject] protected ToastService ToastService { get; set; } = default!;

    [Inject] private NavigationManager Navigation { get; set; }

    [Inject] private IJSRuntime JSRuntime { get; set; }


    protected override void OnInitialized()
    {
        var uri = new Uri(Navigation.Uri);
        var queryParams = QueryHelpers.ParseQuery(uri.Query);
        if (queryParams.TryGetValue("subjectId", out var subjectIdString) && int.TryParse(subjectIdString, out var subjectId))
        {
            _subjectId = subjectId;
        } 
        else if (queryParams.TryGetValue("educationId", out var educationIdString) && int.TryParse(educationIdString, out var educationId))
        {
            _educationId = educationId;
        }
    }

    private async Task HandleSave(Grade grade)
    {
        try
        {
            await _gradeRepository.AddAsync(grade);
            ToastService.Notify(new ToastMessage(ToastType.Success, $"Grade created and saved successfully."));
            await JSRuntime.InvokeVoidAsync("window.history.back");
        }
        catch (Exception e)
        {
            ToastService.Notify(new ToastMessage(ToastType.Danger, $"Grade could not be saved."));
        }
    }
}