.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.sidebar {
    /*background-image: linear-gradient(180deg, rgb(56, 132, 220) 0%, #204A7C 70%);*/
    /*background-color: todo;*/
    background-color: light-dark(rgb(56, 132, 220), #204A7C);
    transition: background-color .15s ease;
    will-change: background-color;
}

.top-row {
    /*background-color: #f7f7f7;*/
    background-color: light-dark(#f5f5f5b0, #262A2ECC); /*was: #292c2f also was: #f7f7f7, #262A2E new make light mode darker new color suggestion: #f1f1f1b0, light was #f7f7f7B0 #f3f3f3b0,  and dark was #262A2ECC. maybe change dark to: #2b2f33cc or #2b2e31cc*/
    backdrop-filter: saturate(120%) blur(16px);
    /*border-bottom: light-dark(1px solid #d6d5d5, 1px solid #818181);*/
    border-bottom-color: light-dark(#d6d5d5, #4b4b4b); /*maybe change dark to: #4c5159*/
    border-bottom-width: 1px;
    border-bottom-style: solid;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
    /*transition: background-color .3s ease;
    will-change: background-color;*/
}

/*@media (prefers-color-scheme: light) {
    .top-row {
        background-color: #f7f7f7;
        border-bottom: 1px solid #d6d5d5;
    }
}*/

    /* Dark mode styles */
/*@media (color-scheme: dark) {
    .top-row {
        background-color: #2c2c2c;*/ /* Darker background for dark mode */
        /*border-bottom: 1px solid #818181;
    }
}*/

    .top-row ::deep a, .top-row ::deep .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

        .top-row ::deep a:hover, .top-row ::deep .btn-link:hover {
            text-decoration: underline;
        }

        .top-row ::deep a:first-child {
            overflow: hidden;
            text-overflow: ellipsis;
        }

    @media (max-width: 640.98px) {
        .top-row {
            justify-content: space-between;
        }

            .top-row ::deep a, .top-row ::deep .btn-link {
                margin-left: 0;
            }
    }

    @media (min-width: 641px) {
        .page {
            flex-direction: row;
        }

        .sidebar {
            width: 250px;
            height: 100vh;
            position: sticky;
            top: 0;
        }

        .top-row {
            position: sticky;
            top: 0;
            z-index: 1;
        }

            .top-row.auth ::deep a:first-child {
                flex: 1;
                text-align: right;
                width: 0;
            }

        .top-row, article {
            padding-left: 2rem !important;
            padding-right: 1.5rem !important;
        }
    }

    #blazor-error-ui {
        background: lightyellow;
        bottom: 0;
        box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
        display: none;
        left: 0;
        padding: 0.6rem 1.25rem 0.7rem 1.25rem;
        position: fixed;
        width: 100%;
        z-index: 1000;
    }

        #blazor-error-ui .dismiss {
            cursor: pointer;
            position: absolute;
            right: 0.75rem;
            top: 0.5rem;
        }