@page "/educations"

<HeadContent>
    <style>
        html, body { overflow-y: scroll }
    </style>
</HeadContent>

<TopPageHeader>Educations</TopPageHeader>

<div class="row py-3 mx-0">
    <!--had classes: bd-navbar sticky-top-->
    <div class="col-8 col-md-8 px-0 mb-3" style="max-width: 400px">
        <b>Search:</b>
        <EditForm Model="_searchValue" OnValidSubmit="RefreshEducationData">
            <InputText id="searchFieldEducation" class="form-control" placeholder="Search for Education" @bind-Value="_searchValue"/>
        </EditForm>
    </div>
    <!--Add edit and detail button later-->
    <div class="col-1 col-md-1 mb-3 mt-4" style="width: 38px; margin-right: 6px; padding-left: 9px;">
        <Button Color="ButtonColor.Primary" class="px-2" style="height: 38px; padding-top: 3px;" @onclick="RefreshEducationData">
            <Icon Name="IconName.Search" Size="IconSize.x5"/>
        </Button>
    </div>
    <div class="col-1 col-md-1 mb-3 mt-4" style="width: 38px">
        <Button Color="ButtonColor.Secondary" class="px-2" style="height: 38px; padding-top: 3px;" @onclick="LoadAllEducations">
            <Icon Name="IconName.ArrowRepeat" Size="IconSize.x5"/>
        </Button>
    </div>
    <div class="col-4 col-md-4 text-end ms-auto mb-3 mt-4" style="width: 150px;">
        <Button Color="ButtonColor.Success" @onclick="CreateEducation" Size="ButtonSize.Medium" Style="height: 38px;">
            New <Icon Name="IconName.JournalPlus"/>
        </Button>
    </div>
</div>

<ConfirmDialog @ref="_dialog" />

<div class="container align-content-center" style="margin-bottom: 25px;">
    <!--set overflow to hidden maybe-->
    <div class="component-card-grid py-4">
        <!--set overflow to hidden maybe-->
        @* <Virtualize TItem="Education" Items="@(_filteredEducations.OrderByDescending(e => e.Id).ToList())" Context="education" OverscanCount="12"> *@
        <Virtualize TItem="Education" ItemsProvider="GetEducationsProvider" Context="education" OverscanCount="12" @ref="_virtualizeComponent">
            <ItemContent>
                <EducationCard @key="@education.Id" Education="@education" OnEducationDeleted="RefreshEducationData" Dialog="_dialog" />
            </ItemContent>
            <EmptyContent>
                <div></div>
                <div class="text-center py-4" style="grid-column: 1/-1;">
                    <p>No educations found. Try adjusting your search or add a new education.</p>
                </div>
                <div></div>
            </EmptyContent>
            @* <Placeholder>
                <div class="text-center">
                    <Spinner Type="SpinnerType.Dots" Class="me-3" Color="SpinnerColor.Secondary" />
                </div>
            </Placeholder> *@
        </Virtualize>
    </div>
</div>
@*was <div class="component-card-grid py-4">
@foreach (Education education in _filteredEducations.OrderByDescending(e => e.Id))
{
            <EducationCard Education="@education" OnEducationDeleted="HandleEducationDeleted"/>
}
    </div>*@
<!--Later move style block to components.css file-->

<ScrollTopButton />

@code {
    
}