@page "/info"

<TopPageHeader>Info</TopPageHeader>
@* <div style="margin-top: 50px;"></div> *@
<section class="transform-stack-container">
    <div class="border-top animated-top-line" style="width: 100%; max-width: 50%; margin-top: 15px"></div>

    <div class="container animated-page-content">
        <div class="border-top generic-devider-line" style="margin-top: -1px;"></div>
        <div class="py-2"></div>
        <h3>Info</h3>
        <p style="margin-bottom: 0.4rem;">
            <strong>Grade Master</strong> is a grade management tool that helps you manage your education, subjects, and grades.
            <br/><br/>
            <strong>Official Repository:</strong>
            <a class="btn-link" style="white-space: nowrap;" href="https://github.com/DevT06/GradeMaster" target="_blank">GitHub - DevT06/GradeMaster</a>
            <br/><br/>
            <strong>Version Information:</strong>
        </p>
        <p style="margin-bottom: 0.5rem;">
            - <strong>Installed Version:</strong> <span id="installedVersion">2.4.2</span>
            <span id="currentInstalledVersion" class="alert alert-secondary" style="padding: 2px 5px; white-space: nowrap;">
                Checking...
            </span>
        </p>
        <p style="margin-bottom: 0.5rem;">
            - <strong>Latest Available Version:</strong>
            <a id="latestAvailableVersion" class="alert alert-primary" style="padding: 2px 5px; white-space: nowrap; text-decoration: none;" href="https://github.com/DevT06/GradeMaster/releases" target="_blank">
                Checking...
            </a>
        </p>
        <p>
            - <strong>Client Version:</strong> GradeMaster.DesktopClient - 2.4.2.0
        </p>

        <div style="margin-top: 50px;"></div>

        <img src="images/logo.png" alt="GradeMaster Logo" style="max-width: 200px;"/>
        <h4 style="font-size: 26px;">Grade Master</h4>

        <div style="margin-bottom: 50px;"></div>
    </div>
</section>

<script>
    window.scrollTo({ top: 0, behavior: 'auto' });
    window.checkForUpdates();
</script>

@code {

}