@page "/licenses"

<TopPageHeader>Licenses</TopPageHeader>

<div style="margin-top: 50px;"></div>

<div style="max-width: 1120px;">
    <h2>Licenses</h2>
    <p>This application uses the following technologies and libraries. Below are their respective licenses:</p>

    <ul>
        <li class="list-item-bottom-spacer">
            <strong>.NET MAUI:</strong>
            <p>.NET Multi-platform App UI (MAUI) is a cross-platform framework for creating native mobile and desktop apps. Licensed under the <a class="btn-link" href="https://licenses.nuget.org/MIT" target="_blank">MIT License</a>.</p>
        </li>
        <li class="list-item-bottom-spacer">
            <strong>Blazor:</strong>
            <p>Blazor is a framework for building interactive web UIs with C#. Licensed under the <a class="btn-link" href="https://licenses.nuget.org/MIT" target="_blank">MIT License</a>.</p>
        </li>
        <li class="list-item-bottom-spacer">
            <strong>Blazor Bootstrap:</strong>
            <p>A library that integrates Bootstrap components with Blazor. License information can be found at <a class="btn-link" href="https://github.com/vikramlearning/blazorbootstrap/blob/main/LICENSE.txt" target="_blank">Blazor Bootstrap License</a>.</p>
        </li>
        <li class="list-item-bottom-spacer">
            <strong>Bootstrap:</strong>
            <p>Bootstrap is a CSS framework for building responsive web interfaces. Licensed under the <a class="btn-link" href="https://github.com/twbs/bootstrap/blob/main/LICENSE" target="_blank">MIT License</a>.</p>
        </li>
        <li class="list-item-bottom-spacer">
            <strong>Entity Framework:</strong>
            <p>Entity Framework Core is an object-database mapper for .NET. Licensed under the <a class="btn-link" href="https://licenses.nuget.org/MIT" target="_blank">MIT License</a>.</p>
        </li>
        <li class="list-item-bottom-spacer">
            <strong>SQLite:</strong>
            <p>SQLite is a C library that provides a lightweight, disk-based database. Public domain license details can be found at <a class="btn-link" href="https://www.sqlite.org/copyright.html" target="_blank">SQLite License</a>.</p>
        </li>
    </ul>
</div>

<div style="margin-bottom: 100px;"></div>

<script>
    //window.scrollTo({ top: 0, behavior: 'auto' });
    contentElement = document.querySelector(".content").scrollIntoView({ block: 'start', behavior: 'instant' });
</script>

@code {

}
