@page "/tipsandtricks"

<TopPageHeader>Tips & Tricks</TopPageHeader>
@* <div style="margin-top: 50px;"></div> *@
<section class="transform-stack-container">
    <div class="border-top animated-top-line" style="width: 100%; max-width: 50%; margin-top: 15px"></div>

    <div class="container animated-page-content">
        <div class="border-top generic-devider-line" style="margin-top: -1px;"></div>
        <div style="max-width: 1047px;">
            <div class="py-2"></div>
            <h3>Tips & Tricks</h3>
            <h5 style="margin-left: 10px;">Hot Keys / Key Combinations</h5>
            <div style="overflow-x: auto; margin-left: 15px;">
                <table class="table table-bordered">
                    <thead>
                    <tr class="table-active">
                        <th>Page(s)</th>
                        <th style="min-width: 180px;">Hot Key</th>
                        <th>Description</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- Global (Browser API) Shortcuts -->
                    <tr><td>Global</td><td><kbd>ALT</kbd> + <kbd>⬅️</kbd></td><td>Navigates back in history</td></tr>
                    <tr><td>Global</td><td><kbd>ALT</kbd> + <kbd>➡️</kbd></td><td>Navigates forward in history</td></tr>
                    <tr><td>Global</td><td><kbd>F5</kbd></td><td>Reloads the page</td></tr>
                    <tr><td>Global</td><td><kbd>CTRL</kbd> + <kbd>R</kbd></td><td>Reloads the page</td></tr>
                    <tr><td>Global</td><td><kbd>CTRL</kbd> + <kbd>F5</kbd></td><td>Fully reloads the page</td></tr>
                    <tr><td>Global</td><td><kbd>CTRL</kbd> + <kbd>SHIFT</kbd> + <kbd>R</kbd></td><td>Fully reloads the page</td></tr>
                        
                    <tr class="table-active"><td></td><td></td><td></td></tr>

                    <!-- All Pages Shortcuts -->
                    <tr><td>All Pages</td><td><kbd>CTRL</kbd> + <kbd>B</kbd></td><td>Navigates back to the previous page</td></tr>
                    <tr><td>All Pages</td><td><kbd>CTRL</kbd> + <kbd>O</kbd></td><td>Opens or Closes the Offcanvas</td></tr>
                    <tr><td>All Pages</td><td><kbd>CTRL</kbd> + <kbd>T</kbd></td><td>Scrolls to the top of the page</td></tr>
                    <tr><td>All Pages</td><td><kbd>CTRL</kbd> + <kbd>ALT</kbd> + <kbd>H</kbd></td><td>Navigates to the Home page</td></tr>
                    <tr><td>All Pages</td><td><kbd>CTRL</kbd> + <kbd>ALT</kbd> + <kbd>E</kbd></td><td>Navigates to the Educations page</td></tr>
                    <tr><td>All Pages</td><td><kbd>CTRL</kbd> + <kbd>ALT</kbd> + <kbd>S</kbd></td><td>Navigates to the Subjects page</td></tr>
                    <tr><td>All Pages</td><td><kbd>CTRL</kbd> + <kbd>ALT</kbd> + <kbd>G</kbd></td><td>Navigates to the Grades page</td></tr>
                    <tr><td>All Pages</td><td><kbd>CTRL</kbd> + <kbd>ALT</kbd> + <kbd>Q</kbd></td><td>Navigates to the Settings page</td></tr>

                    <tr class="table-active"><td></td><td></td><td></td></tr>

                    <!-- Home Page -->
                    <tr><td>Home</td><td><kbd>CTRL</kbd> + <kbd>E</kbd></td><td>Navigates to create Education page</td></tr>
                    <tr><td>Home</td><td><kbd>CTRL</kbd> + <kbd>S</kbd></td><td>Navigates to create Subject page</td></tr>
                    <tr><td>Home</td><td><kbd>CTRL</kbd> + <kbd>G</kbd></td><td>Navigates to create Grade page</td></tr>
                    <tr><td>Home</td><td><kbd>CTRL</kbd> + <kbd>F</kbd></td><td>Focuses the education select field</td></tr>
                    <tr><td>Home</td><td><kbd>CTRL</kbd> + <kbd>D</kbd></td><td>Navigates to the selected Education detail page</td></tr>
                    <tr><td>Home</td><td><kbd>CTRL</kbd> + <kbd>X</kbd></td><td>Reloads the page data</td></tr>
                    <tr><td>Home</td><td><kbd>CTRL</kbd> + <kbd>Q</kbd></td><td>If a filter is applied, the filter will be cleared</td></tr>
                    <tr><td>Home</td><td><kbd>CTRL</kbd> + <kbd>SHIFT</kbd> + <kbd>F</kbd></td><td>Opens the filter dropdown menu</td></tr>

                    <tr class="table-active"><td></td><td></td><td></td></tr>

                    <!-- Shared Entity Page Actions -->
                    <tr><td>Educations, Subjects, Grades</td><td><kbd>CTRL</kbd> + <kbd>N</kbd></td><td>Navigates to the create page for the current entity</td></tr>
                    <tr><td>Educations, Subjects, Grades</td><td><kbd>CTRL</kbd> + <kbd>F</kbd></td><td>Focuses the search input field</td></tr>
                    <tr><td>Educations, Subjects, Grades</td><td><kbd>CTRL</kbd> + <kbd>X</kbd></td><td>Clears the search input</td></tr>

                    <tr class="table-active"><td></td><td></td><td></td></tr>

                    <!-- Common Detail Page Shortcuts -->
                    <tr><td>Education, Subject, Grade Detail</td><td><kbd>CTRL</kbd> + <kbd>E</kbd></td><td>Navigates to the edit page</td></tr>
                    <tr><td>Education, Subject, Grade Detail</td><td><kbd>CTRL</kbd> + <kbd>D</kbd></td><td>Toggles the description height</td></tr>
                    <tr><td>Education, Subject, Grade Detail</td><td><kbd>CTRL</kbd> + <kbd>SHIFT</kbd> + <kbd>D</kbd></td><td>Deletes the current entity</td></tr>

                    <tr class="table-active"><td></td><td></td><td></td></tr>

                    <!-- Cross-Navigation in Detail Pages -->
                    <tr><td>Subject, Grade Detail</td><td><kbd>CTRL</kbd> + <kbd>SHIFT</kbd> + <kbd>A</kbd></td><td>Navigates to related Education detail page</td></tr>
                    <tr><td>Grade Detail</td><td><kbd>CTRL</kbd> + <kbd>SHIFT</kbd> + <kbd>Q</kbd></td><td>Navigates to related Subject detail page</td></tr>

                    <tr class="table-active"><td></td><td></td><td></td></tr>

                    <!-- Form Component -->
                    <tr><td>Forms</td><td><kbd>CTRL</kbd> + <kbd>S</kbd></td><td>Submits the form</td></tr>
                    </tbody>
                </table>
            </div>
            <br />
            <div class="border-top generic-devider-line" style="opacity: 0.75; margin-left: 10px"></div>
            <br />
        
            <h5 style="margin-left: 10px;">Best practices & Optimal usage</h5>
            <div style="margin-left: 15px;">
                <p>Here are some tips and tricks for using this app optimally</p>
                <ul>
                    <li class="list-item-bottom-spacer">
                        <strong>Educations:</strong>
                        <p>It is recommended you create multiple educations for one education. This way you have different parts of your education separated for a better overview.</p>
                    </li>
                    <li class="list-item-bottom-spacer">
                        <strong>Descriptions:</strong>
                        <p>Descriptions are optional, but they can help you find your entries. It is recommended to always add a description. Descriptions do not have to be long, but they should properly describe your entry.</p>
                    </li>
                    <li class="list-item-bottom-spacer">
                        <strong>Institutions:</strong>
                        <p>You can add the name of the institute of your education. It is recommended you add this to your educations to better find your entries. Use the following convention for adding institutions. "SI, Some Institution"</p>
                    </li>
                    <li class="list-item-bottom-spacer">
                        <strong>Data:</strong>
                        <p>It is recommended that you sometimes back up your data. You can do this by copying the file '<code>GradeMaster.db</code>' and save it somewhere at a dedicated location. The file is located at: '<code>C:\Users\YourUser\AppData\Local\GradeMaster\Data</code>'.</p>
                    </li>
                    <li class="list-item-bottom-spacer">
                        <strong>Search:</strong>
                        <p>When searching you can use following advanced patterns on following pages.</p>
                        <ul>
                            <li><strong>Educations:</strong> Patterns: "#1 some text | #2 some text" this will search for everything matching (#1) and institution matching (2#). Example: "Something specific | Institute1". <br/>
                                It is also possible to search for only "completed" or "in progress" entries. (Currently search for completion state can't be used with other search) <br/>
                                Searching for the completion state is also possible now. In order to search for the completion state just add (complete) or (c) / (in progress) or (ip) at the end of your search.</li>
                            <li><strong>Subjects:</strong> Patterns: Supports the pattern of Educations Page, but also allows you to search for subject with a combination of the subject name and subject semester. Example: "Some name 3" or "Some name - 3". <br/>
                                It is also possible to combine this with the search of institution. Example: "Some name 3 | Institute1". <br />
                                It is also possible to search for only "completed" or "in progress" entries. (Currently search for completion state can't be used with other search) <br />
                                Searching for the completion state is also possible now. In order to search for the completion state just add (complete) or (c) / (in progress) or (ip) at the end of your search.
                            </li>
                            <li><strong>Grades:</strong> Pattern: Supports the same patterns as the Subject page search. <br/> Search with completion state is not possible on this page.</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div style="margin-top: 100px;"></div>
</section>

<script>
    //window.scrollTo({ top: 0, behavior: 'auto' });
    document.querySelector(".content").scrollIntoView({ block: 'start', behavior: 'instant' });
</script>

@code {

}