@page "/tipsandtricks"

<TopPageHeader>Tips & Tricks</TopPageHeader>
@* <div style="margin-top: 50px;"></div> *@
<div class="border-top animated-top-line" style="width: 100%; max-width: 50%; margin-top: 15px"></div>

<div class="container animated-page-content">
    <div class="border-top generic-devider-line" style="margin-top: -1px;"></div>
    <div class="py-2"></div>
    <h3>Tips & Tricks</h3>
    <h5 style="margin-left: 10px;">Hot Keys / Key Combinations</h5>
    <table style="margin-left: 15px; max-width: 1047px;" class="table table-bordered">
        <thead>
        <th>Page(s)</th>
        <th style="min-width: 180px;">Hot Key</th>
        <th>Description</th>
        </thead>
        <tbody>
        <tr>
            <td>Global</td>
            <td><kbd>CTRL</kbd> + <kbd>B</kbd></td>
            <td>Navigates back to the previous page</td>
        </tr>
        <tr>
            <td>Global</td>
            <td><kbd>CTRL</kbd> + <kbd>O</kbd></td>
            <td>Opens or Closes the Offcanvas</td>
        </tr>
        <tr>
            <td>Global</td>
            <td><kbd>CTRL</kbd> + <kbd>T</kbd></td>
            <td>Scrolls to the Top</td>
        </tr>
        <tr>
            <td>Global</td>
            <td><kbd>CTRL</kbd> + <kbd>ALT</kbd> + <kbd>H</kbd></td>
            <td>Navigates to the Home page</td>
        </tr>
        <tr>
            <td>Global</td>
            <td><kbd>CTRL</kbd> + <kbd>ALT</kbd> + <kbd>E</kbd></td>
            <td>Navigates to the Educations page</td>
        </tr>
        <tr>
            <td>Global</td>
            <td><kbd>CTRL</kbd> + <kbd>ALT</kbd> + <kbd>S</kbd></td>
            <td>Navigates to the Subjects page</td>
        </tr>
        <tr>
            <td>Global</td>
            <td><kbd>CTRL</kbd> + <kbd>ALT</kbd> + <kbd>G</kbd></td>
            <td>Navigates to the Grades page</td>
        </tr>
        <tr>
            <td>Global</td>
            <td><kbd>CTRL</kbd> + <kbd>ALT</kbd> + <kbd>Q</kbd></td>
            <td>Navigates to the Settings page</td>
        </tr>

        </tbody>

    </table>

    <div style="margin-top: 50px;"></div>
</div>

<script>
    window.scrollTo({ top: 0, behavior: 'auto' });
</script>

<!--Todo for example add how to use app effectively with Hot-Keys for example-->

@code {

}