@page "/tipsandtricks"

<TopPageHeader>Tips & Tricks</TopPageHeader>
@* <div style="margin-top: 50px;"></div> *@
<div class="border-top animated-top-line" style="width: 100%; max-width: 50%; margin-top: 15px"></div>

<div class="container animated-page-content">
    <div class="border-top generic-devider-line" style="margin-top: -1px;"></div>
    <div class="py-2"></div>
    <h3>Tips & Tricks</h3>

    <div style="margin-top: 50px;"></div>
</div>

<script>
    window.scrollTo({ top: 0, behavior: 'auto' });
</script>

<!--Todo for example add how to use app effectively with Hot-Keys for example-->

@code {

}
